{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Welcome
{% endblock title %}

{% block content %}

<h1 align ="center">Select a Terminal (LAX)</h1>
<div class="box border">
    <form action="" enctype="multipart/form-data" method="post" novalidate>
        <table>
            {% crispy form %}
        </table>
        {% csrf_token %}
    </form>
</div>
{% if submitted %}
    <p>
        terminal: {{ terminal }},
        start: {{ start}},
        startYear: {{ startYear }},
        startMonth: {{ startMonth }},
        startDay: {{ startDay }},
        end: {{ end }},
        endYear: {{ endYear }},
        endMonth: {{ endMonth }},
        endDay: {{ endDay }},
    </p>
    <div id="container" style="width: 80%; margin-left: auto; margin-right: auto;">
        <canvas id="throughput-chart"></canvas>
    </div>
    {% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.0.1/chartjs-plugin-zoom.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>
    <script>

    var read_data = {{ data|safe }}
    var read_predictions = {{ prediction|safe }}
    var labels = {{ labels|safe }}.map((label) => moment(label, "MM/DD/YYYY HH:mm:ss").valueOf())
    pointData = [];
    predictionData = [];
    for (let i = 0; i < read_data.length; i++) {
        pointData.push({x:labels[i], y:read_data[i]})
        predictionData.push({x:labels[i], y:read_predictions[i]})
    }
    const data = {
        datasets: [{
          data: pointData,
          label: 'Throughput',
          cubicInterpolationMode: 'monotone',
          borderColor: '#33839A',
          backgroundColor: '#33839A',
          borderWidth: 2,
        },
        {
          data: predictionData,
          label: 'Prediction',
          cubicInterpolationMode: 'monotone',
          borderColor: '#e06b63',
          backgroundColor: '#e06b63',
          borderWidth: 2,
        }],
      }
    var config = {
      type: 'line',
      data: data,
      options: {
        parsing: false,
        scales: {
            x: {
                type: 'time',
                ticks: {
                  source: 'auto',
                  autoSkip: true,
                }
            },
            y: {
                type: 'linear',
            }
        },
        plugins: {
          decimation: {
              enabled: true,
              algorithm: 'lttb',
              samples: 150,
              threshold: 10,
          },
          zoom: {
            zoom: {
              wheel: {
                enabled: true,
              },
              mode: 'x',
            },
            pan: {
                enabled: true,
                mode: 'x',
            },
            limits: {
                x: {
                    min: {{ labels|safe }}.map((label) => moment(label, "MM/DD/YYYY HH:mm:ss"))[0].valueOf(),
                    max: {{ labels|safe }}.map((label) => moment(label, "MM/DD/YYYY HH:mm:ss"))[ {{labels|safe}}.length - 1 ].valueOf(),
                },
                y: {
                    min: Math.min(...{{ data|safe }}) - Math.floor(Math.min(...{{ data|safe }})/50),
                    max: Math.max(...{{ data|safe }}) + Math.floor(Math.min(...{{ data|safe }})/50),
                }
            }
          },
        }
      },
    };

    window.onload = function() {
      var ctx = document.getElementById('throughput-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

    </script>
    {% endblock scripts %}
{% endif %}



<div class="border border-5 mt-3 p-3">
    <h1>
        What is Lorem Ipsum?
    </h1>
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
        type
        and scrambled it to make a type specimen book. It has survived not only five centuries, but also
        the
        leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
        1960s
        with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
        desktop
        publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
</div>
<div class="box border mt-5 p5">
    <h2>
        Why do we use it?
    </h2>
    <p>
        It is a long established fact that a reader will be distracted by the readable content of a page
        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
        distribution of letters, as opposed to using 'Content here, content here', making it look like
        readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
        their
        default model text, and a search for 'lorem ipsum' will uncover many web sites still in their
        infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
        purpose
        (injected humour and the like).
    </p>
</div>
<div class="box border mt-5 p5">
    <h3>
        Where does it come from?
    </h3>
    <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
        classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
        Latin
        professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
        consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical
        literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and
        1.10.33
        of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
        This
        book is a treatise on the theory of ethics, very popular during the Renaissance. The first line
        of
        Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
        Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced
        in
        their exact original form, accompanied by English versions from the 1914 translation by H.
        Rackham.
    </p>
</div>
<div class="box border mt-5 p5">
    <h4>
        Where can I get some?
    </h4>
    <p>
        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
        alteration in some form, by injected humour, or randomised words which don't look even slightly
        believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
        anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the
        Internet
        tend to repeat predefined chunks as necessary, making this the first true generator on the
        Internet.
        It uses a dictionary of over 200 Latin words, combined with a handful of model sentence
        structures,
        to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always
        free
        from repetition, injected humour, or non-characteristic words etc.
    </p>
</div>

{% endblock content %}



